.navigation {
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
	justify-content: flex-end;
}

/* Large */
.navigation {
	display: flex;
	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
	justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
	.navigation {
		/* When on medium sized screens, you center it by evenly distributing empty space around items */
		justify-content: space-around;
	}
}

/* Small screens */
@media all and (max-width: 500px) {
	.navigation {
		/* On small screens, you are no longer using row direction but column */
		flex-direction: column;
	}
}

[class*='col-'] {
	float: left;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-2 {
	width: 50%;
}
.col-4-10 {
	width: 40%;
}
.col-6-10 {
	width: 60%;
}
h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
}
h2 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
body {
	margin: 1em auto;
	padding: 0 1em;
	font-family: Cambria, Georgia;
	font-size: 1.15em;
	max-width: 35em;
}

p {
	line-height: 1.3em;
	font-family: Cambria, Georgia;
}

body,
input[text],
button {
	color: #888;
	font-family: Cambria, Georgia;
}
a {
	cursor: pointer;
	cursor: hand;
}
button {
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	margin-left: 10px;
}
button:hover {
	background-color: #607d8b;
	color: white;
}
button:disabled {
	background-color: #eee;
	color: #aaa;
	cursor: auto;
}
.butupdate:hover {
	background-color: darkkhaki;
	color: white;
}
.butupdate:disabled {
	background-color: #eee;
	color: #aaa;
	cursor: auto;
}

/* Navigation link styles */
nav a {
	padding: 8px 10px;
	text-decoration: none;
	margin-right: 5px;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}
nav a:visited,
a:link {
	color: #607d8b;
}
nav a:hover {
	color: #039be5;
	background-color: #cfd8dc;
}
nav a.active {
	color: #039be5;
}

#signup input {
	margin-left: 10em;
}

#signup label {
	position: absolute;
}

#login input {
	margin-left: 9em;
}

#login label {
	position: absolute;
}
#posts input {
	margin-left: 11em;
}

#posts label {
	position: absolute;
}
#inventory input {
	margin-left: 14em;
}
#inventory label {
	position: absolute;
}
/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}
.tasks {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 17em;
}
.tasks li {
	position: relative;
	cursor: pointer;
	background-color: #eee;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.tasks li:hover {
	color: #41738b;
	background-color: #ddd;
	left: .1em;
}

.tasks a {
	color: #888;
	text-decoration: none;
	position: relative;
	display: block;
}

.tasks a:hover {
	color: #607d8b;
}

.badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607d8b;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	min-width: 16px;
	text-align: right;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}
.postbadgeA {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607d8b;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	min-width: 16px;
	text-align: right;
	margin-right: 0;
	border-radius: 4px 0 0 4px;
}
.postbadge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: rgb(187, 186, 186);
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	min-width: 16px;
	text-align: right;
	margin-right: .8em;
	border-radius: 0 4px 4px 0;
}
.postbadgeB {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: darkkhaki;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	min-width: 16px;
	text-align: right;
	margin-right: .8em;
	border-radius: 0 4px 4px 0;
}
.postbadgeC {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #3f3e09;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	min-width: 16px;
	text-align: right;
	margin-right: 0;
	border-radius: 4px 0 0 4px;
}
button.del {
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	position: relative;
	left: 194px;
	top: -32px;
}
button.del:hover {
	background-color: #9c3a3a;
	color: white;
}
button.postdel {
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}
button.postdel:hover {
	background-color: #9c3a3a;
	color: white;
}
.tasks li.selected {
	background-color: #cfd8dc;
	color: white;
}
.tasks li.selected:hover {
	background-color: #bbd8dc;
}
ul {
	list-style-type: none;
	padding: 0px;
}
.list {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: auto;
	height: auto;
}
.list li {
	position: relative;
	cursor: pointer;
	background-color: white;
	margin: 1.1em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.list li:hover {
	color: #41738b;
	background-color: #ddd;
	left: .1em;
}

.list a {
	color: #888;
	text-decoration: none;
	position: relative;
	display: block;
}

.list a:hover {
	color: #607d8b;
}
.post button {
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	position: absolute;
}
.post button:hover {
	background-color: #607d8b;
	color: white;
}
#right {
	float: right;
}
.red {
	color: darkred;
}
.adminman {
	float: right;
}
img {
	max-width: 100%;
}
